footer {
  background-color: #DBDBDB;
  color: #0D0D0D;
  padding: 20px;
  text-align: center;
  /* position: fixed; */
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  margin-right: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #ccc;
}

.social-media i {
  font-size: 24px;
  margin-right: 10px;
}